.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #0000cd solid;
    width: 400px;
    height: 400px;
    margin: auto;
}
.paragraph1{
    border:green solid;
    margin-top: 60px;
}
.paragraph2{
    border: green solid;
    margin: 50px 0;
}